
html {
    background-color: rgb(238, 238, 238);
}
.parent_container {
    position: relative;
    width: 500px;
    margin: auto;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#profile_pic {
    padding: 12px 0;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    width: 100px;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

.container {
    padding: 16px;
}