<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landing.css">
    <title>Landing</title>
</head>

<body>
    <div class="container">
        <h1>CUSTOM PORTAL</h1><br>
        <a href="/login">Login</a>
        <a href="/register">SignUp</a>
        <h3>Imagine yourself walking down a street filled with stores. You’re just window shopping until something
            catches your eye. It could be the sales sign hanging in the window. Maybe it was the nice jacket on the
            mannequin. Or the store had an inviting atmosphere that drew you in. </h3>
    </div>
</body>

</html>